html {
	scroll-behavior: smooth;
}

body {
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}

body::-webkit-scrollbar {
	display: none;
}

.heading {
	position: absolute;
	top: 3vh;
	margin-bottom: 3vh;
	width: 100%;
	height: auto;
	position: relative;
}



.slider {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.box {
	position: relative;
	width: 140vh;
	height: 50vh;
	border: 1.5px solid white;
	border-radius: 5vh;
	background-color: rgba(255,255,255,0.3);
	backdrop-filter: blur(5px);
	transition: transform 1s;
	margin: 5vh 5vh 5vh 35vh;
	padding: 5vh;
	white-space: normal;
	}

.box:hover {
	transform: scale(1.1);
}

h1 {
	position: relative;
	top: 5vh;
	left: 55vh;
	font-family: pecita;
	color: #453c3b;
	font-size: 7vh;
}

p {
	position: relative;
	top: 5vh;
	left: 55vh;
	color: #453c3b;
	font-family: arial;
	font-size: 3vh;
	font-style: italic;
}

img {
	height: 35vh;
	position: absolute;
	top: 11vh;
}

.navigation {
	margin-left: 10vh;
	position: fixed;
	top: 30vh;
	display: flex;
	flex-direction: column;
}

a {
	position: relative;
	width: 2vh;
	height: 2vh;
	margin: 1vh 0 1vh 0;
	border: 1px solid #453c3b;
	border-radius: 1vh;
	background-color: rgba(0, 0, 0, 0);
}
a:hover {
	background-color: #453c3b;
}




